@page "/labManagerViewAnalyze"
@page "/labManagerViewAnalyze/{analyzeTitle}"
@using Data;
@inject NavigationManager navigation;
@inject DepositData depositData;
@inject DefinedIndicatorData definedIndicatorData;
@inject MethodData methodData;
@inject CurrentUser currentUser;

<PageTitle>Просмотр определенного анализа</PageTitle>


<div style="opacity: 1; mix-blend-mode: normal; background-color: rgba(255, 255, 255, 1); align-items: inherit; align-items: flex-start; justify-content: flex-start">
    <button class="button-27" @onclick="NavigationToHomePage" style="box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px; background-color: rgba(169, 172, 251, 0.7) ;position: absolute; width: 14%; left: 72%; transform: translate(-28%, 10%); opacity: 1; mix-blend-mode: normal; padding-left: 10px; padding-right: 10px; padding-top: 10px; align-items: inherit; align-items: flex-start; justify-content: flex-start; border-radius: 20px">
        <p style="letter-spacing: 0; text-transform: none; text-align: center; vertical-align: middle; font-family: Playfair Display; font-size: 20px; color: rgba(0, 0, 0, 1); font-weight: 400; width: 100%">
            Домашняя страница
        </p>
    </button>
    <button class="button-27" @onclick="NavigationToAddingNewApplication" style="box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px; background-color: rgba(169, 172, 251, 0.7) ;position: absolute; width: 14%; left: 59%; transform: translate(-41%, 10%); opacity: 1; mix-blend-mode: normal; padding-left: 10px; padding-right: 10px; padding-top: 10px; align-items: inherit; align-items: flex-start; justify-content: flex-start; border-radius: 20px">
        <p style="letter-spacing: 0; text-transform: none; text-align: center; vertical-align: middle; font-family: Playfair Display; font-size: 20px; color: rgba(0, 0, 0, 1); font-weight: 400; width: 100%">
            Новая заявка
        </p>
    </button>
    <button class="button-27" @onclick="NavigationToAddingNewTask" style="box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px; background-color: rgba(169, 172, 251, 0.7); position: absolute;width: 14%; left: 85%; transform: translate(-15%, 10%); opacity: 1; mix-blend-mode: normal; padding-left: 10px; padding-right: 10px; padding-top: 10px; align-items: inherit; align-items: flex-start; justify-content: flex-start; border-radius:20px">
        <p style="letter-spacing: 0; text-transform: none; text-align: center; vertical-align: middle; font-family: Playfair Display; font-size: 20px; color: rgba(0, 0, 0, 1); font-weight: 400; width: 100%">
            Новое задание
        </p>
    </button>
    <div style="mix-blend-mode: normal; align-items: inherit; background-image: url('/images/image3.png'); background-size: cover; background-position: center; background-repeat: no-repeat; width: 50px; height: 75px"></div>
    <div style="box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; position: absolute; left: 52%; transform: translate(-48%, 6%); opacity: 1; width:68%; height: 600%; mix-blend-mode: normal; background-color: rgba(0, 0, 0, 0.2); align-items: inherit; gap: 10px; padding-left: 10px; padding-right: 10px; padding-top: 10px; padding-bottom: 10px; border-radius: 20px; align-items: flex-start; justify-content: flex-start"></div>
    <div style="box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; display: flex;position: absolute; left: 50%; transform: translate(-50%, 10%); width:68%; height:600%; opacity: 1; mix-blend-mode: normal; background-color: rgba(169, 172, 251, 0.7); align-items: inherit; gap: 10px; padding-left: 10px; padding-right: 10px; padding-top: 10px; padding-bottom: 10px; border-radius: 20px; align-items: flex-start; justify-content: flex-start">
        <div style="flex: 10%;"></div>
        <div style="flex: 45%; margin-top: 4%">
            <br />
            <label style="letter-spacing: 0; text-transform: none; text-align: left; vertical-align: middle; font-family: Playfair Display; font-size: 20px; color: rgba(0, 0, 0, 1); font-weight: 400; width: 100%">
                Объект исследования: @analyze.Type
            </label>
            <label style="letter-spacing: 0; text-transform: none; text-align: left; vertical-align: middle; font-family: Playfair Display; font-size: 20px; color: rgba(0, 0, 0, 1); font-weight: 400; width: 100%">
                Название: @analyze.Title
            </label>
            <label style="letter-spacing: 0; text-transform: none; text-align: left; vertical-align: middle; font-family: Playfair Display; font-size: 20px; color: rgba(0, 0, 0, 1); font-weight: 400; width: 100%">
                Месторождение: @analyze.Deposit
            </label>
            <label style="letter-spacing: 0; text-transform: none; text-align: left; vertical-align: middle; font-family: Playfair Display; font-size: 20px; color: rgba(0, 0, 0, 1); font-weight: 400; width: 100%">
                Определяемый показатель: @analyze.DefinedIndicatorData
            </label>
            <label style="letter-spacing: 0; text-transform: none; text-align: left; vertical-align: middle; font-family: Playfair Display; font-size: 20px; color: rgba(0, 0, 0, 1); font-weight: 400; width: 100%">
                Метод: @analyze.MethodData
            </label>
            <label style="letter-spacing: 0; text-transform: none; text-align: left; vertical-align: middle; font-family: Playfair Display; font-size: 20px; color: rgba(0, 0, 0, 1); font-weight: 400; width: 100%">
                Результат: @analyze.ResultData
            </label>
            
        </div>

        <div style="flex: 45%; margin-top: 4%"></div>
    </div>
</div>

@code{
    [Parameter]
    public string? analyzeTitle { get; set; }

    AnalyzeData analyze;

    protected override void OnInitialized()
    {
        analyze = DBConnection.FindAnalyzeByTitle(analyzeTitle);
    }

    public void NavigationToAddingNewTask()
    {
        navigation.NavigateTo("/labManagerAddingTask");
    }

    public void NavigationToAddingNewApplication()
    {
        navigation.NavigateTo("/labManagerAddingApplication");
    }

    public void NavigationToHomePage()
    {
        navigation.NavigateTo("/labManager");
    }
}

<style>
    .button-27:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
    }
</style>