@page "/labWorker"
@using Data;
@inject NavigationManager navigation;
@inject CurrentUser currentUser;

<PageTitle>Домашняя страница лаборанта</PageTitle>

<div style="opacity: 1; mix-blend-mode: normal; background-color: rgba(255, 255, 255, 1); align-items: inherit; align-items: flex-start; justify-content: flex-start">
    <button class="buttonThree" @onclick="NavigationToViewAllEquipment">
        <p class="pStyleOfButton">
            Оборудование
        </p>
    </button>
    <button class="buttonOne" @onclick="NavigationToViewAllApplications">
        <p class="pStyleOfButton">
            Заявки
        </p>
    </button>
    <button class="buttonTwo" @onclick="NavigationToViewAllAnalyzes">
        <p class="pStyleOfButton">
            Пробы
        </p>
    </button>
    <div class="boxOne"></div>
    <div class="boxTwo">
        <table class="table">
                <thead>
                    <tr>
                        <th class="thStyle">Задание</th>
                        <th class="thStyle">Выполнение</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var task in tasks)
                    {
                        <tr>
                            <td class="tdStyle">@task.Task</td>
                            <td class="tdStyle"><input type="checkbox" @onclick="() => RadioButtonChanged(task)" checked = "@task.isDone"><label></label></td>
                        </tr>
                    }
                </tbody>
            </table>
    </div>
    <div class="icon" @onclick="NavigationToAuto"></div>
    <div class="boxThree"></div>
    <div class="boxFour">
        <p class="pStyle">
            Фамилия: @currentUser.CurrentUserData.Surname
        </p>
        <p class="pStyle">
            Имя: @currentUser.CurrentUserData.Name
        </p>
        <p class="pStyle">
            Отчество: @currentUser.CurrentUserData.Patronymic
        </p>
        <p class="pStyle">
            Телефон: @currentUser.CurrentUserData.Telephone
        </p>
        <p class="pStyle">
            Почта: @currentUser.CurrentUserData.Email
        </p>
    </div>

    <div class="boxFive"></div>
    <img src='/images/img1.jpg' class="imageOne">
    <div class="boxSix"></div>
    <img src='/images/img2.jpg' class="imageTwo">


</div>

@code{
    List<TaskData> tasks;

    protected override void OnInitialized()
    {
        tasks = DBConnection.ImportTasksOfWorker(currentUser.CurrentUserData);
    }

    public void NavigationToViewAllApplications()
    {
        navigation.NavigateTo("/labWorkerViewAllApplications");
    }

    public void NavigationToAuto()
    {
        navigation.NavigateTo("/");
    }

    public async void RadioButtonChanged(TaskData task)
    {
        task.isDone = !task.isDone;
        DBConnection.ReplaceTask(task);
        StateHasChanged();
        tasks.Clear();
        tasks = DBConnection.ImportTasksOfWorker(currentUser.CurrentUserData);
    }

    public void NavigationToViewAllAnalyzes()
    {
        navigation.NavigateTo("/labWorkerViewAnalyzesOfWorker");
    }

    public void NavigationToViewAllEquipment()
    {
        navigation.NavigateTo("/labWorkerViewAllEquipment");
    }
}

<style>
    .buttonThree {
        box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
        background-color: rgba(169, 172, 251, 0.7);
        position: absolute;
        width: 14%;
        left: 60%;
        transform: translate(-40%, 10%);
        opacity: 1;
        mix-blend-mode: normal;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        align-items: inherit;
        align-items: flex-start;
        justify-content: flex-start;
        border-radius: 20px
    }
    .imageTwo{
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        position: absolute;
        left: 39%;
        transform: translate(-61%, 10%);
        opacity: 1;
        width: 28%;
        height: 280%;
        mix-blend-mode: normal;
        background: src('/images/image5.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 20px
    }
    .imageOne{
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        position: absolute;
        left: 57%;
        transform: translate(-43%, 130%);
        opacity: 1;
        width: 28%;
        height: 280%;
        mix-blend-mode: normal;
        background: src('/images/image5.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 20px
    }
    .boxSix{
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
        position: absolute;
        left: 37%;
        transform: translate(-63%, 25%);
        opacity: 1;
        width: 28%;
        height: 280%;
        mix-blend-mode: normal;
        background-color: rgba(0, 0, 0, 0.2);
        align-items: inherit;
        gap: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 20px;
        align-items: flex-start;
        justify-content: flex-start
    }
    .boxFive{
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
        position: absolute;
        left: 59%;
        transform: translate(-41%, 145%);
        opacity: 1;
        width: 28%;
        height: 280%;
        mix-blend-mode: normal;
        background-color: rgba(0, 0, 0, 0.2);
        align-items: inherit;
        gap: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 20px;
        align-items: flex-start;
        justify-content: flex-start
    }
    .boxFour{
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        position: absolute;
        left: 63%;
        transform: translate(-37%, 23%);
        width: 25%;
        height: 280%;
        opacity: 1;
        mix-blend-mode: normal;
        background-color: rgba(169, 172, 251, 0.7);
        align-items: inherit;
        gap: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 20px;
        align-items: flex-start;
        justify-content: flex-start
    }
    .boxThree{
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
        position: absolute;
        left: 65%;
        transform: translate(-35%, 8%);
        opacity: 1;
        width: 25%;
        height: 280%;
        mix-blend-mode: normal;
        background-color: rgba(0, 0, 0, 0.2);
        align-items: inherit;
        gap: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 20px;
        align-items: flex-start;
        justify-content: flex-start
    }
    .boxTwo{
        overflow: auto;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        position: absolute;
        left: 33%;
        transform: translate(-67%, 175%);
        width: 25%;
        height: 280%;
        opacity: 1;
        mix-blend-mode: normal;
        background-color: rgba(169, 172, 251, 0.7);
        align-items: inherit;
        gap: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 20px;
        align-items: flex-start;
        justify-content: flex-start
    }
    .boxOne{
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
        position: absolute;
        left: 31%;
        transform: translate(-69%, 160%);
        opacity: 1;
        width: 25%;
        height: 280%;
        mix-blend-mode: normal;
        background-color: rgba(0, 0, 0, 0.2);
        align-items: inherit;
        gap: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 20px;
        align-items: flex-start;
        justify-content: flex-start
    }
    .buttonTwo{
        box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
        background-color: rgba(169, 172, 251, 0.7);
        position: absolute;
        left: 88%;
        width: 10%;
        transform: translate(-12%, 10%);
        opacity: 1;
        mix-blend-mode: normal;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        align-items: inherit;
        align-items: flex-start;
        justify-content: flex-start;
        border-radius: 20px;
        margin-left: 20px
    }
    .buttonOne{
        box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
        background-color: rgba(169, 172, 251, 0.7);
        position: absolute;
        left: 75%;
        width: 14%;
        transform: translate(-25%, 10%);
        opacity: 1;
        mix-blend-mode: normal;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        align-items: inherit;
        align-items: flex-start;
        justify-content: flex-start;
        border-radius: 20px
    }
    .pStyleOfButton{
        letter-spacing: 0;
        text-transform: none;
        text-align: center;
        vertical-align: middle;
        font-family: Playfair;
        font-size: 20px;
        color: rgba(0, 0, 0, 1);
        font-weight: 400;
        width: 100%
    }
    .icon{
        mix-blend-mode: normal;
        align-items: inherit;
        background-image: url('/images/image3.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 50px;
        height: 75px
    }
    .pStyle{
        letter-spacing: 0;
        text-transform: none;
        text-align: left;
        vertical-align: middle;
        font-family: Playfair Display;
        font-size: 22px;
        color: rgba(0, 0, 0, 1);
        font-weight: 400;
        width: 100%
    }
    .tdStyle{
        letter-spacing: 0;
        text-transform: none;
        text-align: center;
        vertical-align: middle;
        font-family: Playfair Display;
        font-size: 18px;
        color: rgba(0, 0, 0, 1);
        font-weight: 400;
    }
    .thStyle{
        letter-spacing: 0;
        text-transform: none;
        text-align: center;
        vertical-align: middle;
        font-family: Playfair Display;
        font-size: 18px;
        color: rgba(0, 0, 0, 1);
        font-weight: 400;
    }

/*    .buttonOne:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
    }

    .buttonTwo:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
    }*/
    .button-27:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
    }
</style>